<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
 
<head>
    <title>POS Manager Portal</title>
</head>

<nav style='text-align: right'>
    {% if g.user %}
      <span>{{ g.user['username'] }}</span>
      <a href="{{url_for('manager.portaltable', table='Menu')}}">Portal</a>
      <a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% endif %}
</nav>
 
<body>
 
 <h3 style="text-align:center;">Welcome, Manager!</h3>

    <div class="tabletabs">
        {% for table in tables %}
            {% if table == curtab %}
                <a class='active' href='/manager/{{table}}'> {{table}} </a>
            {% else %}
                <a href='/manager/{{table}}'> {{table}} </a>
            {% endif %}
        {% endfor %}
        <a href='/manager/lowthreshold'> Low Threshold </a>
        <a href='/manager/reports'> Reports </a>
        {% if g.user.isadmin %}
        <a href='/manager/Users'> Users </a>
        {% endif %}
    </div>

    <form method='post'>
        <table>
            <tr>
                <th></th>
                {% for field in fields %}
                    <th>{{field}}</th>
                {% endfor %}
            </tr>
                {% for row in contents %}
                    {% set outer_loop = loop %}
                    <tr>
                        <td>
                            <input type="checkbox" name="checkbox_{{idarr[loop.index-1]}}"></input>
                        </td>
                        {% for entry in row %}
                            <td>
                                {% if fields[loop.index-1] == 'Category' %}
                                    <select name="{{fields[loop.index-1]}}_{{idarr[outer_loop.index-1]}}" class="{{ outer_loop.cycle('even', 'odd') }}">
                                        {% for item in catdrop %}
                                            <option value="{{item}}"
                                                    name="category_{{idarr[outer_loop.index-1]}}" 
                                                    {% if item == entry %}selected{% endif %}> 
                                                    {{item}} 
                                            </option>
                                        {% endfor %}
                                    </select>
                                {% elif fields[loop.index-1] == 'Unit' %}
                                    <select name="{{fields[loop.index-1]}}_{{idarr[outer_loop.index-1]}}" class="{{ outer_loop.cycle('even', 'odd') }}">
                                        {% for item in unitdrop %}
                                            <option value="{{item}}"
                                                    name="category_{{idarr[outer_loop.index-1]}}" 
                                                    {% if item == entry %}selected{% endif %}> 
                                                    {{item}} 
                                            </option>
                                        {% endfor %}
                                    </select>
                                {% elif fields[loop.index-1] == 'Menu description' %}
                                    <select name="{{fields[loop.index-1]}}_{{idarr[outer_loop.index-1]}}" class="{{ outer_loop.cycle('even', 'odd') }}">
                                        {% for item in menudrop %}
                                            <option value="{{item}}"
                                                    name="category_{{idarr[outer_loop.index-1]}}" 
                                                    {% if item == entry %}selected{% endif %}> 
                                                    {{item}}
                                            </option>
                                        {% endfor %}
                                    </select>
                                {% elif fields[loop.index-1] == 'Ingredient description' %}
                                    <select name="{{fields[loop.index-1]}}_{{idarr[outer_loop.index-1]}}" class="{{ outer_loop.cycle('even', 'odd') }}">
                                        {% for item in ingdrop %}
                                            <option value="{{item}}"
                                                    name="category_{{idarr[outer_loop.index-1]}}" 
                                                    {% if item == entry %}selected{% endif %}> 
                                                    {{item}} ({{ingunitmap[item]}})
                                            </option>
                                        {% endfor %}
                                    </select>
                                {% else %}
                                    <input class="{{ outer_loop.cycle('even', 'odd') }}"
                                            {% if types[loop.index-1] == 'integer' %}
                                                type="number" min="0"
                                            {% elif types[loop.index-1] == 'decimal' %}
                                                type="number" min="0.00"
                                                {% if (fields[loop.index-1] == 'Stock' 
                                                    and row[loop.index] == 'oz')
                                                    or fields[loop.index-1] == 'Cost' 
                                                    or fields[loop.index-1] == 'Price' 
                                                    or fields[loop.index-1] == 'Ingredient quantity' %}
                                                    step="0.01"
                                                {% endif %} 
                                            {% elif types[loop.index-1] == 'tinyint' %}
                                                type="checkbox"
                                                {% if entry == 1 %} checked {% endif %}
                                            {% else %}
                                                type="text"
                                            {% endif %}
                                                value="{{entry}}" 
                                                name="{{fields[loop.index-1]}}_{{idarr[outer_loop.index-1]}}">
                                        </input>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
        </table>

        <!-- options for delete items, edit items, add items, and bulk edit -->

        <br>
        <input style="margin-left:2.5%;" type="submit" value="Add row" name="add"></input>
        <input type="submit" value="Delete Selected Items" name="delete"></input>
        <input type="submit" value="Update table" name="update"></input>
        
    </form>

</body>

<footer>
    <p>&copy; CS160 Restaurant POS </p>
</footer>
 
</html>

