<!DOCTYPE html>
<html lang="en">

<body>
     <h2>Review and Pay for Your Order</h2>
     <form action="/customer/acceptorder", method="POST">
        <h4>OrderID :{{orderid}}</h4>
        <h3>{{guestname}}, Your Order Today is the Following </h3>
        <br>--------------------------------------------------------------------------------<br>
        <table>
        <col width="400"><col width="30">

	        <tr><td>{{main_order_tuple[0]}}</td><td>{{main_order_tuple[1]}}</td></tr>

    	    {% for detail in detail_list %}
      		  	<tr><td>-->{{detail}}</td></tr>
       		{% endfor %}

        	{% for entry in side_tuples %}
        		<tr><td>{{entry[0]}}</td><td>{{entry[1]}}</td></tr>
        	{% endfor %}

        	{% for entry in drink_tuples %}
        		<tr><td>{{entry[0]}}</td><td>{{entry[1]}}</td></tr>
        	{% endfor %}

        </table>
    	<br>--------------------------------------------------------------------------------<br>
    	<h3>Your Total amount today : {{totalorder}}
         
        <br><br><input type="submit" value="Pay for the Order">
     </form>

</body>

</html>