<!DOCTYPE html>
<html lang="en">
<head>
	<title>Menu Manager - Confirm addition</title>
</head>

<body>
	<h1>Is this the item you'd like to add to the menu?</h1>

	<table style="width:50%">
		<tr>
			<th>Name</th>
			<th>Price</th>
			<th>Category</th>
		</tr>
		<tr>
			<td>{{item_name}}</td>
			<td>{{item_price}}</td>
			<td>{{item_category}}</td>
		</tr>
	</table>

	<br><br>

	<form action="/add_final", method="POST">
		<input type="hidden" name="item_name" value="{{item_name}}">
		<input type="hidden" name="item_price" value="{{item_price}}">
		<input type="hidden" name="item_category" value="{{item_category}}">
		<input type="submit" value="Submit">
	</form>
	<br>
	<form action="/menu_add">
		<input type="submit" value="Cancel">
	</form>

</body>

</html>