<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Restaurant Inventory</title>
</head>
 
<body>
 <h3 style="text-align:center;">Restaurant Inventory</h3>
	
	<table style="width:100%">
	  <tr>
		{% for field in fields %}
		    <th>{{field}}</th>
		{% endfor %}
	  </tr>
		{% for row in data %}
		  <tr>
			{% for ing in row %}
			    <td>{{ing}}</td>
			{% endfor %}
		  </tr>
		{% endfor %}
	</table> 
<footer class="footer" style="text-align:center">
	<p>&copy; kill me asap </p>
</footer>
</body>
 
</html>


