<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>POS Manager Portal</title>
</head>
 
<body>
 
 <h5 style="text-align:center;">Welcome, Manager!</h5>
 <form style="text-align:center;" action="/menu_mgt" method="POST">
	Please choose what to add, modify or delete:
	<input type="submit" name="Menu" value="Menu Items">
	<input type="submit" name="Ingredients" value="Ingredients">
 </form>
        <footer class="footer" style="text-align:center">
            <p>&copy; CS160 Restaurant POS </p>
        </footer>
</body>
 
</html>


