<!DOCTYPE html>
<html>
<head>
	<title>Menu Manager - Price Change Success!</title>
</head>

<body>
	<h1>The price(s) has been successfully changed! Here's the updated menu.</h1>

	<table style="width:50%">
	  <tr>
		{% for field in fields %}
		    <th>{{field}}</th>
		{% endfor %}
	  </tr>
		{% for row in data %}
		  <tr>
			{% for entry in row %}
			    <td>{{entry}}</td>
			{% endfor %}
		  </tr>
		{% endfor %}
	</table>

	<br>

	<form action="/menu_mgt">
		<button type="submit">Return to the main menu.</button>
	</form>
</body>
</html>